$primaryBtn : #0080ff;
$btnHoverColor: #00c0ff;

header {
    background: #d0d0ff;
    // color: #006000;
    display: flex;
    justify-content: center;
    button {
        background: $primaryBtn;
        &:hover {
            background: $btnHoverColor;
        }
    }
}

.contact {
    button {
        background: $primaryBtn;
        &:hover {
            background: $btnHoverColor;
        }
    }
    .info {
        h2 {
            &::after {
                content: ":"
            }
        }
    }
}