
@import './variables';
@import './header';

.contact {

    @include flexCenter(row);

    button {
        background: $primaryBtn;
        &:hover {
            background: $btnHoverColor;
        }
    }
    .info {
        h2 {
            &::after {
                content: ":"
            }
        }
    }
}