
@import './variables';
@import './header';

.contact {
    button {
        background: $primaryBtn;
        &:hover {
            background: $btnHoverColor;
        }
    }
    .info {
        h2 {
            &::after {
                content: ":"
            }
        }
    }
}